.about {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%; /* Pour occuper toute la hauteur de l'écran */
  }

.photo-presentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.my-photo-container{
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 3%;
    transition: transform 0.5s ease-in-out;
}

.my-photo-container img {
    width: 100%;;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out
}


.presentation-words{
    color: grey;
    font-family: 'Share Tech', sans-serif;
    text-align: center;
    font-size: 2.5vw
}

.presentation-text{
    color: white;
    font-family: 'Inter Tight', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 3%;
}



@media only screen and (max-width : 1024px) {

    .my-photo-container{
        width: 70%;
    }

    .photo-presentation{
        display: flex;
        flex-direction: column;
    }

    .presentation-words{
        font-size: 20px
    }

    .presentation-text{
        font-size: 25px;
        margin-top: 40px;
    }

}