.about {
  background-color: black;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.about-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &-photo-container {
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 3%;
    z-index: 10;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 25px;
    }
  }
  &-quotation {
    color: grey;
    font-family: "Share Tech", sans-serif;
    text-align: center;
    font-size: 2vw;
  }
  &-text {
    color: white;
    width: 80%;
    font-family: "Inter Tight", sans-serif;
    text-align: center;
    height: 30vh;
    font-size: 35px;
    margin: auto;
    padding: 3%;
  }
}

.photo-animation-rectangle {
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: black;
  top: 0;
  &-2 {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: black;
    top: 25%;
  }
  &-3 {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: black;
    top: 50%;
  }
  &-4 {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: black;
    top: 75%;
  }
  &-5 {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: black;
    top: 0;
  }
}

.quotation-animation {
  animation: glitch 4s infinite;
  &-2 {
    animation: glitch 3s infinite;
  }
  &-3 {
    animation: glitch 7s infinite;
  }
  &-4 {
    animation: glitch 6s infinite;
  }
}

.point {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -50px; /* Positionne le point au-dessous du texte */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%);
  width: 40px; /* Largeur du point */
  height: 40px; /* Hauteur du point */
  background-color: white;
  border-radius: 50%;
  text-transform: uppercase;
  color: black;
  box-shadow: 0 0 10px white; /* Halo blanc autour du point */
  animation: pulse 1s infinite alternate; /* Animation pulsante */
  &-container {
    position: relative;
    width: 100%;
    height: 20px; /* Hauteur du point blanc */
    margin-top: 20px; /* Marge pour séparer du texte */
    cursor: pointer;
  }
}

@media only screen and (max-width: 1024px) {
  .about-items {
    display: flex;
    flex-direction: column;
    &-photo-container {
      width: 70%;
    }
    &-quotation {
      font-size: 20px;
    }
    &-text {
      font-size: 23px;
      margin-bottom: 40px;
      margin-top: 10px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .point {
    bottom: 0;
    left: 45%;
    width: 30px;
    height: 30px;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}
