.loader {
  border: 6px solid black; /* Couleur de fond */
  border-top: 6px solid white; /* Couleur du loader */
  border-radius: 50%;
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
  }
}
