.carousel img{
    max-height: 80vh;
    max-width: 88vw;
}

.control-arrow {
    color: black;
}

@media screen and (max-width: 800px) {
.carousel .slide img {
    width: 95vw;
    height: 40vh;
}
.carousel .thumb {
    margin-right: 0 !important; 
}
ul.thumbs.animated {
    padding-inline-start: 0 !important;
}
}