@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Share+Tech&display=swap');

.card-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-start;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}


.card-container img:hover {
    filter: brightness(0.7);
}

.card-container img {
    width: 100%;
    max-height: 225px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
    filter: brightness(0.5);
}

.card_title {
    z-index: 5;
    position: absolute;
    font-family: 'Share Tech', sans-serif;
    top: -10px;
    right: 10px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.card_description{
    font-family: 'Inter Tight', sans-serif;
    margin-top: 2%;
    text-align: start;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.card_techs{
    display: flex;
    align-items: center;
    gap: 2%;
    justify-content: flex-start;
}

.gallery_card img{
    border-radius: 10px;
}

.techs_button{
    width: 20%;
    height: 30px;
    font-family: 'Share Tech', sans-serif;
    color: white;
    background-color: gray;
    margin-top: 2%;
    border-radius: 10px;;
    border-style: none;
}

@media screen and (max-width: 1024px) {
    .card-container {
        width: 90%;
        align-self: center;
    }

    .card_description{
       margin-top: 5%;
       font-size: 16px;
    }

    .card_title {
        font-size: 17px;
    }
}