.home_gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 5px;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 10%;
}

@media screen and (max-width: 1024px) {
    .home_gallery {
        width: 90%;
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }
}