/* MySlider.css */

/* Styles généraux pour le container du slider */
.slider-container {
    width: 80%;
    margin: auto;
  }
  
  /* Styles spécifiques pour les slides */
  .slick-slide img {
    width: 80%;
    border-radius: 8px; /* Ajoutez ceci pour des coins arrondis, si vous le souhaitez */
  }
  
  /* Styles pour les flèches de navigation */
  .slick-prev,
  .slick-next {
    font-size: 24px;
    color: #000;
    z-index: 1; /* Assurez-vous que les flèches apparaissent au-dessus des slides */
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    color: #333;
  }
  
  /* Styles pour les points indicateurs */
  .slick-dots {
    bottom: 10px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #333;
  }
  
  .slick-dots li.slick-active button:before {
    color: #000;
  }
  
  /* Styles pour rendre le slider réactif */
  @media screen and (max-width: 768px) {
    .slider-container {
      width: 90%;
    }
  }